<div class="navbar">
	<div class="heading">Sorting Algorithm</div>
	<div class="main-content" [ngClass]="(isPlaying || isDone) && 'disabled'">
		<div class="change-size">
			<label for="change-slider">Size</label>
			<input type="range" #slider id="change-slider" min="0" max="20" value="10" (input)="onSliderChange($event)">
		</div>
		<div class="algo-name">
			<div class="algo selected" (click)="selectAlgo($event, 0)">Heap Sort</div>
			<div class="algo" (click)="selectAlgo($event, 1)">Quick Sort</div>
			<div class="algo" (click)="selectAlgo($event, 2)">Bubble Sort</div>
			<div class="algo" (click)="selectAlgo($event, 3)">Selection Sort</div>
		</div>
	</div>
	<button class="play-btn" (click)="playBtnClick()" [disabled]="isPlaying">
		<span *ngIf="!isDone" class="material-icons">play_arrow</span>
		<span *ngIf="isDone" class="material-icons">replay</span>
	</button>
</div>
<div class="playground" #playground [ngStyle]="{'gap':getGap()}">
	<div class="element" *ngFor="let elem of sortingData; let i = index;" [ngStyle]="{'background-color': elem.color, 'height': elem.height + '%'}"></div>
</div>